.btn {
  text-transform: uppercase;
  font-weight: 500;
}

.btn-icon {
  line-height: normal;
  height: 36px;
  width: 36px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}