.custom-checkbox {
    .custom-control-input:checked {
      & ~ .custom-control-label {
        &::after {
          transition: background-size 0.15s ease-in-out;
          background-size: 100%;
        }
      }
    }
    .custom-control-label {
      &::before {
        border-width: 2px;
        border-radius: 2px;
      }
      &::after {
        transition: background-size 0.15s ease-in-out;
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: 50%;
        background-size: 0%;
        background-image: $custom-checkbox-indicator-icon-checked;
      }
    }
  }