.mega-dropdown {
    .mega-menu {
      border: 0;
      border-radius: 0;
      top: 44px;
      width: 820%;
      left: -432%;
      background-color: transparent;
      // @include shadow-1;
      // @extend .border-top;
      .list-container-parent {
        .list-container-row {
          .list-container-col {
            background-color: $white;
            padding-top: 1rem;
            padding-bottom: 1rem;
            @include shadow-1;
            @extend .border-top;
          }
        }
      }
      .item-header > {
        a {
          display: block;
          @extend .font-size-lg,
            .font-weight-bold,
            .border-bottom,
            .border-dark,
            .pb-2,
            .mb-2;
        }
      }
      .item-sub-header {
        & > {
          a {
            @extend .font-weight-bold;
          }
        }
      }
  
      @include media-breakpoint-down(md) {
        .list-container-parent {
          .list-container-row {
            .list-container-col {
              max-height: 250px;
              overflow-y: auto;
            }
          }
        }
      }
    }
  
    .dropdown-toggle[aria-expanded="true"] {
      & ~ .mega-menu {
        .list-container-col {
          &::before {
            height: 20px;
            width: 20px;
            background-color: $white;
            display: block;
            content: "";
            position: absolute;
            top: 0;
            margin-top: -10px;
            left: 53%;
            margin-left: 50px;
            transform: rotate(45deg);
  
            @extend .border-top, .border-left;
          }
        }
      }
    }
  
    @include media-breakpoint-down(md) {
      .mega-menu {
        width: 100%;
        .list-container-col {
          &::before {
            display: none !important;
          }
        }
      }
    }
  }