// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
// Color System

$primary: #ea1c2b;
$secondary: #000000;

$off-white-darker: #f3f2f1;
$alice-blue: #f9fafb;
$yellow-metal: #d1cdc0;
$golden-poppy: #fee085;

$gray-light: #e3e2db;
$gray: #535353;
$gray-dark: #000000;
$white: #ffffff;

$light: $gray-light;
$dark: $gray-dark;
$body-color: $gray-dark;

$brand-primary: $primary;
$brand-secondary: $secondary;

$colors: (
  "off-white-darker": $off-white-darker,
  "gray": $gray,
  "gray-light": $gray-light,
  "gray-dark": $gray-dark,
  "alice-blue": $alice-blue,
  "yellow-metal": $yellow-metal
);

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark: $dark;

// Typography
$font-family-base: 'Work Sans', sans-serif;

$font-size-base: 1rem; // Assumes the browser default, typically `16px`

$h1-font-size: $font-size-base * 5;
$h2-font-size: $font-size-base * 2.5;
$h3-font-size: $font-size-base * 2.25;
$h4-font-size: $font-size-base * 2;
$h5-font-size: $font-size-base * 1.5;
$h6-font-size: $font-size-base * 0.75;

$h1-line-height: 96px;
$h2-line-height: 48px;
$h3-line-height: 40px;
$h4-line-height: 40px;
$h5-line-height: 32px;
$h6-line-height: 16px;

$p-line-height: 17px;
$p-sm-line-height: 20px;
$p-lg-line-height: 24px;

// Navbar

$navbar-nav-link-padding-x: 0.75rem !default;

// Custom form control

$custom-control-indicator-size: 1.25rem;
$custom-control-indicator-border-color: $dark;
$custom-control-indicator-border-width: 0.125rem;

// Checkbox

$custom-control-indicator-checked-color: $primary;
$custom-control-indicator-checked-bg: $white;
$custom-control-indicator-checked-border-color: $dark;
$custom-checkbox-indicator-border-radius: 0.125rem;
$custom-checkbox-indicator-icon-checked: str-replace(
  url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' %3e%3cpath fill='#{$custom-control-indicator-checked-color}' d='M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z'/%3e%3c/svg%3e"),
  "#",
  "%23"
);
$custom-forms-transition: background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
  background-size 5s ease-in-out;

// Utilities

$displays: none, inline, inline-block, block, table, table-row, table-cell, flex,
  inline-flex, grid;

// Forms

$input-border-radius: 0.5rem;
$input-border-width: 0;
$input-bg: $light;
$input-color: $dark;
$input-focus-border-color: rgba($dark, 0.25);
$input-focus-box-shadow: 0 0 0 0.2rem rgba($dark, 0.25);

// Pagination
$pagination-color: $white;
$pagination-bg: $primary;
$pagination-border-color: $primary;

$pagination-hover-color: $pagination-color;
$pagination-hover-bg: darken($pagination-bg, 7.5%);
$pagination-hover-border-color: darken($pagination-border-color, 7.5%);

$pagination-active-color: $pagination-color;
$pagination-active-bg: $dark;
$pagination-active-border-color: $dark;

$pagination-disabled-color: $pagination-color;
$pagination-disabled-bg: rgba($pagination-bg, 0.65);
$pagination-disabled-border-color: rgba($pagination-border-color, 0.65);
