<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Theme Kit</title>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Lucky's theme - This already includes Bootstrap 4 -->
  <link rel="stylesheet" href="css/style.css" />

  <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700&display=swap" rel="stylesheet"> 
</head>
<body>
  <div class="container my-3">
    <div class="jumbotron">
      <h1 class="display-1">Welcome to Bootstrap Theme Kit</h1>
    </div>
  </div>
  <script src="js/bundle.js"></script>
</body>
</html>
